<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title TheWeddingOf</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background: url(../../img/background_img.jpg) no-repeat center; background-size:cover;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand btn btn-dark" style="text-decoration:none;" href="/Home/Index">J & G</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                @if (User.Identity.Name == "gjosephw24@gmail.com")
                {
                    <li class="nav-item active">
                        <a class="nav-link btn btn-dark" style="text-decoration:none;" href="/Rsvp/Index">RSVP List</a>
                    </li>
                }
                <li class="nav-item active">
                    <a class="nav-link btn btn-dark" style="text-decoration:none;" href="/Rsvp/Index">RSVP</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link btn btn-dark" style="text-decoration:none;" href="/Home/Registry">Registry</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link btn btn-dark" style="text-decoration:none;" href="/Home/Travel">Travel</a>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TheWeddingOf</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
