@using TheWeddingOf.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<br />
<h2 class="text-center ml-auto mr-auto">Log In.</h2>
<br />
<div>
    <div class="text-center ml-auto mr-auto">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="">
                    @Html.LabelFor(m => m.Email, new { @class = "" })
                    <div class="ml-auto mr-auto">
                        @Html.TextBoxFor(m => m.Email, new { @Value = "rsvp@theweddingof.com", @class = "" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="">
                    @Html.LabelFor(m => m.Password, new { @class = "" })
                    <div class="ml-auto mr-auto">
                        @Html.PasswordFor(m => m.Password, new { @Value = "jandgwedding2020", @class = "" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="text-center">
                        <input type="submit" value="Log in" class="btn btn-lg" style="background-color:#800020; color:white; text-decoration:none;" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}